.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}


.container 
ul{
    background-color: aqua;
   border: 2px solid black;
   word-spacing: 4cm;
   font-size: x-large;
}

.container 
li {

    display:inline;
    padding: 20px;

 margin: auto;
 
 
}
.mainbody{
    border: 4px solid blueviolet;
}

.mainbody h1
{
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: brown;
text-transform: uppercase;
text-decoration: underline;

text-align: center;
border: 10px solid red;
border-radius: 5px;
}
.mainbody p{
    border: 3px solid black;
    background-color: aqua;
    
    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.block{
    width:33.3%;
    float:left;
    border: 1px solid #8a620c;
    box-sizing: border-box;
    padding: 10px;
}
.block h3{
    text-align: center;
    color: blue;
    text-decoration:underline ;
    text-transform: uppercase;
    text-shadow:2cm;
}
.block p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

    
